<!DOCTYPE html>
<html lang="en">

<head>
  <title>NK H+T driving Affordability</title>
  <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">    -->
  <base target="_top">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

  <style>
    body {
      margin: 0;
      padding: 0;
    }

    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      color: #323232;
    }

    #directions {
      position: absolute;
      z-index: 1000;
      /*width: 25%;*/
      max-height: 50%;
      right: 10px;
      top: 20px;
      overflow-y: auto;
      /* Show a scrollbar if needed */
      background: rgba(255, 255, 255, 0.8);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      font-family: Arial, Helvetica, Verdana;
      line-height: 1.5;
      font-size: 14px;
      padding: 10px;
    }

  </style>

  <style>
    /*#map { width: 800px; height: 500px; }*/
    .info {
      /*width: 100%;*/
      padding: 6px 8px;
      font: 14px/16px Arial, Helvetica, sans-serif;
      line-height: 1.5;
      background: rgba(255, 255, 255, 0.8);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      top: 205px;
    }

    /*.info h4 { margin: 0 0 5px; color: #777; }*/
    .legend {
      width: 100%;
      text-align: left;
      line-height: 18px;
      color: #555;
      top: 5px;
    }

    .legend i {
      width: 18px;
      height: 18px;
      float: left;
      margin-right: 8px;
      opacity: 0.7;
    }

  </style>

</head>

<body>
  <div id='map'></div>

  <script type="text/javascript" src="{{ url_for('static', filename='js/jakarta-pusat-rw.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jakarta-selatan-rw.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jakarta-barat-rw.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jakarta-timur-rw.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jakarta-utara-rw.js') }}"></script>

  <script type="text/javascript">

    const map = L.map('map').setView([-6.174012965235774, 106.83833091052753], 13);

    const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    // text area on the upper right
    const directions = document.createElement("div");
    directions.id = "directions";
    directions.innerHTML = "Click on the map to set your home location";
    document.body.appendChild(directions);

    let startCoords = 0;
    let startLayer;
    let home_loc = "";
    let home_loc_hCost = 0;
    //let restorefillColor;

    function updateLayerColor() {

      // update style
      geojson_jp.eachLayer(function (layer) {
        let propTdriving = 0;
        if (layer.feature.properties.from_origin.hasOwnProperty(home_loc)) {
          propTdriving = layer.feature.properties.from_origin[home_loc]["T driving"];
        }
        layer.setStyle({ fillColor: getColor(propTdriving) })
      });

      geojson_js.eachLayer(function (layer) {
        let propTdriving = 0;
        if (layer.feature.properties.from_origin.hasOwnProperty(home_loc)) {
          propTdriving = layer.feature.properties.from_origin[home_loc]["T driving"];
        }
        layer.setStyle({ fillColor: getColor(propTdriving) })
      });

      geojson_jb.eachLayer(function (layer) {
        let propTdriving = 0;
        if (layer.feature.properties.from_origin.hasOwnProperty(home_loc)) {
          propTdriving = layer.feature.properties.from_origin[home_loc]["T driving"];
        }
        layer.setStyle({ fillColor: getColor(propTdriving) })
      });

      geojson_jt.eachLayer(function (layer) {
        let propTdriving = 0;
        if (layer.feature.properties.from_origin.hasOwnProperty(home_loc)) {
          propTdriving = layer.feature.properties.from_origin[home_loc]["T driving"];
        }
        layer.setStyle({ fillColor: getColor(propTdriving) })
      });

      geojson_ju.eachLayer(function (layer) {
        let propTdriving = 0;
        if (layer.feature.properties.from_origin.hasOwnProperty(home_loc)) {
          propTdriving = layer.feature.properties.from_origin[home_loc]["T driving"];
        }
        layer.setStyle({ fillColor: getColor(propTdriving) })
      });

    }

    // control that shows state info on hover
    const info = L.control();

    info.onAdd = function (map) {
      this._div = L.DomUtil.create('div', 'info');
      this.update();
      return this._div;
    };

    info.update = function (props) {

      try {

        let hCost = 0;
        let comparehCost = '';

        let kab_kota = props ? props.WADMKK : 0;
        let drivingCost = props ? Math.round(props.from_origin[home_loc]["T driving"] * 2 * 30.5 * 100) / 100 : 0;           // 2 trips a day, 30.5 days per month
        if (kab_kota == 0) {
          drivingCost = "<i>no data</i>"
        }

        hCost = gethCost(kab_kota);
        if (home_loc_hCost > hCost) {
          comparehCost = " <i>(lower than your home location)</i>"  // loc. of interest has lower hCost
        }
        else {
          comparehCost = " <i>(higher than your home location)</i>" // loc. of interest has higher hCost
        }

        const contents = props ?
          `Location of interest<br/>
          <b>${props.WADMKK}</b><br/>
          <b>${props.WADMKC}</b>
          <br/>${props.WADMKD} RW ${props.WADMRW}<br/><br/>
          <b>Transport:</b><br>
          T transit cost: IDR ${props.from_origin[home_loc]["T transit"]}<br/>
          T driving cost: IDR ${props.from_origin[home_loc]["T driving"]}<br/>
          T ridehail cost: IDR ${props.from_origin[home_loc]["T ridehail"]}<br/><br/>
          <b>CO2e emission:</b><br>
          Transit: ${props.from_origin[home_loc]["CO2e transit"]}g<br/>
          Driving: ${Math.round(props.from_origin[home_loc]["CO2e driving"] * 100) / 100}g<br/><br/>
          <b>Est. H+T cost:</b><br>
          Housing: IDR ${hCost} per month </br>${comparehCost}<br/><br/>
          100% Driving: IDR ${drivingCost} per month </br><i>(daily commute to this location)</i><br/>
          ` : '';
        this._div.innerHTML = `${contents}`;
      }
      catch (err) {
        const contents = props ?
          `Location of interest<br/>
          <b>${props.WADMKK}</b><br/>
          <b>${props.WADMKC}</b>
          <br/>${props.WADMKD} RW ${props.WADMRW}<br/><br/>
          <b>Transport:</b> <i>no data</i><br>
          <b>CO2e emission:</b> <i>no data</i><br>
          <b>Est. H+T cost:</b> <i>no data</i><br>
          ` : '';
        this._div.innerHTML = `${contents}`;
      }
    };

    info.addTo(map);


    // get color depending on 'T driving' value
    function getColor(d) {
      return d > 23000 ? '#800026' :
        d > 19000 ? '#BD0026' :
          d > 16000 ? '#E31A1C' :
            d > 13000 ? '#FC4E2A' :
              d > 10000 ? '#FD8D3C' :
                d > 5000 ? '#FEB24C' :
                  d > 3000 ? '#FED976' : '#FFEDA0';
    }

    // Housing cost data is from here
    // https://docs.google.com/spreadsheets/d/1_Z1578U8WDMsj37SwsKl_3SBvc_8EDiq/edit?usp=sharing&ouid=104549682188001295897&rtpof=true&sd=true
    //
    function gethCost(kab_kota) {
      let hCost = 0;

      if (kab_kota == 0) {
        hCost = "<i>no data</i>"
      }
      else if (kab_kota == "JAKARTA BARAT") {
        hCost = 728109.74;
      }
      else if (kab_kota == "JAKARTA TIMUR") {
        hCost = 757004.63;
      }
      else if (kab_kota == "JAKARTA UTARA") {
        hCost = 767450.40;
      }
      else if (kab_kota == "JAKARTA SELATAN") {
        hCost = 797014.78;
      }
      else if (kab_kota == "JAKARTA PUSAT") {
        hCost = 1237300.61;
      }

      return hCost;

    }

    function style(feature) {
      return {
        weight: 1,
        opacity: 1,
        //color: 'white',
        color: '#666',  /* #666 - dark grey */
        dashArray: '3',
        fillOpacity: 0.7,
        fillColor: getColor(feature.properties["T transit"])
      };
    }

    function highlightHomeLocation() {

      startLayer.setStyle({
        weight: 4,
        color: '#666',  // #666 - dark grey
        dashArray: '',
        fillOpacity: 0.7
      });

      startLayer.bringToFront();
    }

    function highlightFeature(e) {
      const layer = e.target;

      //restorefillColor = e.target.options.fillColor;
      //console.log("highLight: ", e.target.options.fillColor)

      /*layer.setStyle({
          weight: 5,
          color: '#666',  // #666 - dark grey
          dashArray: '',
          fillOpacity: 0.7
      });

      layer.bringToFront(); */

      info.update(layer.feature.properties);
    }

    /* global jutaraData */
    const geojson_ju = L.geoJson(jutaraData, {
      style,
      onEachFeature
    }).addTo(map);

    /* global jtimurData */
    const geojson_jt = L.geoJson(jtimurData, {
      style,
      onEachFeature
    }).addTo(map);

    /* global jbaratData */
    const geojson_jb = L.geoJson(jbaratData, {
      style,
      onEachFeature
    }).addTo(map);

    /* global jselatanData */
    const geojson_js = L.geoJson(jselatanData, {
      style,
      onEachFeature
    }).addTo(map);

    /* global jpusatData */
    const geojson_jp = L.geoJson(jpusatData, {
      style,
      onEachFeature
    }).addTo(map);

    function restoreFillColor(feature) {
      return { fillColor: restorefillColor }
    };

    function resetHighlight(e) {

      //console.log("resetLight 1: ", e.target.options.fillColor)
      /*if (e.target.feature.properties.OBJECTID == startCoords) {
        // do nothing
      } else {
        geojson_jp.resetStyle(e.target);
        geojson_js.resetStyle(e.target);

        //geojson_jp.setStyle(restoreFillColor);
        //geojson_js.setStyle(restoreFillColor);

      }*/
      //console.log("resetLight 2: ", e.target.options.fillColor)

      info.update();
    }

    function zoomToFeature(e) {
      map.fitBounds(e.target.getBounds());
    }

    function recordHomeWorkLocations(e) {
      const coordinates = e.latlng.lat + ',' + e.latlng.lng;

      // clear previous highlight
      geojson_jp.resetStyle(startLayer);
      geojson_js.resetStyle(startLayer);
      geojson_jb.resetStyle(startLayer);
      geojson_jt.resetStyle(startLayer);
      geojson_ju.resetStyle(startLayer);

      startCoords = 0;

      startCoords = e.target.feature.properties.OBJECTID;
      startLayer = e.target;
      home_loc = e.target.feature.properties.WADMKD;
      home_loc_hCost = gethCost(e.target.feature.properties.WADMKK);
      //console.log("recordHome :", e.target.feature.properties.from_origin)

      directions.innerHTML = `Your home location</br>
          <b>${e.target.feature.properties.WADMKK}</b></br>
          <b>${e.target.feature.properties.WADMKC}</b></br>
          ${e.target.feature.properties.WADMKD} RW ${e.target.feature.properties.WADMRW}</br></br>
          <b>Est. H cost:</b></br>
          Housing: IDR ${home_loc_hCost} per month</br>
          <b>Est. T accessiblity score: </b><i>no data</i></b></br>`;

      if (startCoords) {
        updateLayerColor();
        highlightHomeLocation();
      }
    }


    function onEachFeature(feature, layer) {
      layer.on({
        mouseover: highlightFeature,
        mouseout: resetHighlight,
        /*click: zoomToFeature */
        click: recordHomeWorkLocations
      });
    }


    const legend = L.control({ position: 'bottomright' });

    legend.onAdd = function (map) {

      const div = L.DomUtil.create('div', 'info legend');
      //const grades = [0, 3000, 5000, 7000, 9000, 11000, 13000, 15000];
      const grades = [0, 3000, 5000, 10000, 13000, 16000, 19000, 23000];
      const labels = [];
      let from, to;


      for (let i = 0; i < grades.length; i++) {
        from = grades[i];
        to = grades[i + 1];

        labels.push(`<i style="background:${getColor(from + 1)}"></i>IDR ${from}${to ? `&ndash;${to}` : '+'}`);
      }

      div.innerHTML = "<b>Transit cost</b><br/></br>" + labels.join('<br>');
      return div;
    };

    legend.addTo(map);

  </script>

</body>

</html>
