<!DOCTYPE html>
<html lang="en">

<head>
  <title>NK H+T transit Affordability</title>
  <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">    -->
  <base target="_top">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

  <style>
    body {
      margin: 0;
      padding: 0;
      font: Arial, Helvetica, sans-serif;
    }

    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 13px;
      color: #323232;
    }

    #directions {
      position: absolute;
      z-index: 1000;
      max-height: 50%;
      width: 241px;
      right: 10px;
      top: 20px;
      overflow-y: auto;
      /* Show a scrollbar if needed */
      background: rgba(255, 255, 255, 0.8);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      font-family: Arial, Helvetica, Verdana;
      line-height: 1.5;
      font-size: 13px;
      padding: 10px;
    }

  </style>

  <style>
    /*#map { width: 800px; height: 500px; }*/
    .info, .info-routes {
      /*width: 100%;*/
      padding: 6px 8px;
      font: 14px/16px Arial, Helvetica, sans-serif;
      line-height: 1.5;
      background: rgba(255, 255, 255, 0.8);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
    }

    .info {
      top: 205px;
    }

    /*.info h4 { margin: 0 0 5px; color: #777; }*/
    .legend {
      width: 100%;
      text-align: left;
      line-height: 18px;
      color: #555;
      top: 5px;
    }

    .legend i {
      width: 18px;
      height: 18px;
      float: left;
      margin-right: 8px;
      opacity: 0.7;
    }

  </style>

  <style>
    div[id^="leaflet-control-accordion-layers"] > label {
      font-family: Arial, Helvetica, sans-serif;
      padding: 3px 3px;
      position: relative;
      z-index: 20;
      display: block;
      /* height: 30px; */
      cursor: pointer;
      color: #777;
      text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
      line-height: 20px;
      font-size: 15px;
      background: #ffffff;
      background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
      background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
      background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
      background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
      background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
      /* box-shadow:
        0px 0px 0px 1px rgba(155,155,155,0.3),
        1px 0px 0px 0px rgba(255,255,255,0.9) inset,
        0px 2px 2px rgba(0,0,0,0.1);
        box-sizing: content-box;
        cursor:pointer;
        width: auto;
        margin: 0; */
    }
    div[id^="leaflet-control-accordion-layers"] > label:hover {
      background: #fff;
    }
    .ac-container input.menu:checked + label,
    .ac-container input.menu:checked + label:hover{
      background: #fff;
      color: black;
      text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
      /* box-shadow:
        0px 0px 0px 1px rgba(155,155,155,0.3),
        0px 2px 2px rgba(0,0,0,0.1); */
    }
    .ac-container div[id^="leaflet-control-accordion-layers"] > label:hover:after,
    .ac-container input.menu:checked + div[id^="leaflet-control-accordion-layers"] > label:hover:after{
      content: '';
      position: absolute;
      width: 24px;
      /* height: 24px; */
      right: 13px;
      top: 7px;
      background: transparent url(images/arrow_down.png) no-repeat center center;
    }
    .ac-container input.menu:checked + div[id^="leaflet-control-accordion-layers"] > label:hover:after{
      background-image: url(images/arrow_up.png);
    }
    .ac-container input.menu{
      display: none;
    }
    .ac-container article{
      background: rgba(255, 255, 255, 0.5);
      margin-top: -1px;
      overflow: hidden;
      height: 0px;
        padding: 0px;
        line-height: 0px;
      position: relative;
      z-index: 10;
      -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
      -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
      -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
      -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
      transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    }

    .ac-container input.menu:checked ~ article{
      -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
      -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
      -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
      -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
      transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    }

    .ac-container input.menu:checked ~ article.ac-large{
      height: auto;
      padding: 8px 0;
      overflow-y: auto;
        line-height: 18px;
    }

    .ac-container article label {
        display: inline;
        cursor: pointer;
    }

    .ac-container .group-toggle-container {
        text-align: right;
        margin-right: 3px;
        line-height: 0px;
        display: none;
        height: 20px;
    }

    .ac-container input.menu:checked ~ .group-toggle-container {
        display: block;
      line-height: 1em;
    }

    .menu-item-radio{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 13px;

    }

    .menu-item-checkbox{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 13px;

    }

    .bt_delete{
        position: relative;
      float: right;
      background-image: url(images/delete.png);
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 0px 0px;
        border: none;
        cursor: pointer;
        height: 16px;
        width: 16px;
        vertical-align: middle;
    }

    .leaflet-control-layers-expanded {
      padding: 5px;
    }

    .leaflet-control-layers:hover {
      box-shadow: 0 1px 5px rgba(0,0,0,0.4);
      background: #e0e3ec url(images/bgnoise_lg.jpg) repeat top left;
      border-radius: 5px;
    }
    .menu-item-checkbox:last-child {
      padding: 10px 10px 10px 0;
      margin-top: 5px;
      color: #989898;
    }
  </style>

</head>

<body>
  <div id='map'></div>

  <script type="text/javascript" src="{{ url_for('static', filename='js/jakarta-pusat-rw.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jakarta-selatan-rw.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jakarta-barat-rw.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jakarta-timur-rw.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jakarta-utara-rw.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jalur-bus-rail.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/all-stops-jakarta.js') }}"></script>


  <script type="text/javascript" src="{{ url_for('static', filename='js/styledLayerControl.js') }}"></script>
  <script type="text/javascript">

    const key = 'wBcOcnuvFMWW4fSChOhU'
    const map = L.map('map').setView([-6.200000, 106.816666], 12);

    var CartoDB_Positron = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
      subdomains: 'abcd',
      maxZoom: 20
    }).addTo(map);

    // text area on the upper right
    const directions = document.createElement("div");
    directions.id = "directions";
    directions.innerHTML = "Click on the map to set your home location";
    document.body.appendChild(directions);

    let startCoords = 0;
    let startLayer;
    let home_loc = "";
    let home_loc_hCost = 0;
    //let restorefillColor;

    function updateLayerColor() {

      // update style
      geojson_jp.eachLayer(function (layer) {
        let propTdriving = 0;
        if (layer.feature.properties.from_origin.hasOwnProperty(home_loc)) {
          propTdriving = layer.feature.properties.from_origin[home_loc]["T transit"];
        }
        layer.setStyle({ fillColor: getColor(propTdriving) })
      });

      geojson_js.eachLayer(function (layer) {
        let propTdriving = 0;
        if (layer.feature.properties.from_origin.hasOwnProperty(home_loc)) {
          propTdriving = layer.feature.properties.from_origin[home_loc]["T transit"];
        }
        layer.setStyle({ fillColor: getColor(propTdriving) })
      });

      geojson_jb.eachLayer(function (layer) {
        let propTdriving = 0;
        if (layer.feature.properties.from_origin.hasOwnProperty(home_loc)) {
          propTdriving = layer.feature.properties.from_origin[home_loc]["T transit"];
        }
        layer.setStyle({ fillColor: getColor(propTdriving) })
      });

      geojson_jt.eachLayer(function (layer) {
        let propTdriving = 0;
        if (layer.feature.properties.from_origin.hasOwnProperty(home_loc)) {
          propTdriving = layer.feature.properties.from_origin[home_loc]["T transit"];
        }
        layer.setStyle({ fillColor: getColor(propTdriving) })
      });

      geojson_ju.eachLayer(function (layer) {
        let propTdriving = 0;
        if (layer.feature.properties.from_origin.hasOwnProperty(home_loc)) {
          propTdriving = layer.feature.properties.from_origin[home_loc]["T transit"];
        }
        layer.setStyle({ fillColor: getColor(propTdriving) })
      });

    }

    // control that shows state info on hover
    const info = L.control();

    info.onAdd = function (map) {
      this._div = L.DomUtil.create('div', 'info');
      this.update();
      return this._div;
    };

    info.update = function (props) {

      try {

        let hCost = 0;
        let comparehCost = '';

        let kab_kota = props ? props.WADMKK : 0;
        let transitCost = props ? props.from_origin[home_loc]["T transit"] * 2 * 30.5 : 0;           // 2 trips a day, 30.5 days per month
        if (kab_kota == 0) {
          transitCost = "<i>no data</i>"
        }

        hCost = gethCost(kab_kota);
        if (home_loc_hCost > hCost) {
          comparehCost = " <i>(lower than your home location)</i>"  // loc. of interest has lower hCost
        }
        else {
          comparehCost = " <i>(higher than your home location)</i>" // loc. of interest has higher hCost
        }

        const contents = props ?
          `<div style=width:241px;>
          Location of interest<br/>
          <b>${props.WADMKK}</b><br/>
          <b>${props.WADMKC}</b>
          <br/>${props.WADMKD} RW ${props.WADMRW}<br/><br/>
          <b>Transport:</b><br>
          T transit cost: IDR ${props.from_origin[home_loc]["T transit"]}<br/>
          T driving cost: IDR ${props.from_origin[home_loc]["T driving"]}<br/>
          T ridehail cost: IDR ${props.from_origin[home_loc]["T ridehail"]}<br/><br/>
          <b>CO2e emission:</b><br>
          Transit: ${props.from_origin[home_loc]["CO2e transit"]}g<br/>
          Driving: ${Math.round(props.from_origin[home_loc]["CO2e driving"] * 100) / 100}g<br/><br/>
          <b>Est. H+T cost:</b><br>
          Housing: IDR ${hCost} per month </br>${comparehCost}<br/><br/>
          100% Transit: IDR ${transitCost} per month </br><i>(daily commute to this location)</i><br/>
          <div>` : '';
        this._div.innerHTML = `${contents}`;
      }
      catch (err) {
        const contents = props ?
          `<div style=width:241px;>
          Location of interest<br/>
          <b>${props.WADMKK}</b><br/>
          <b>${props.WADMKC}</b>
          <br/>${props.WADMKD} RW ${props.WADMRW}<br/><br/>
          <b>Transport:</b> <i>no data</i><br>
          <b>CO2e emission:</b> <i>no data</i><br>
          <b>Est. H+T cost:</b> <i>no data</i><br>
          <div>` : '';
        this._div.innerHTML = `${contents}`;
      }
    };

    info.addTo(map);


    // get color depending on 'T transit' value
    function getColor(d) {
      return d > 13000 ? '#08589e' :
        d > 11000 ? '#2b8cbe' :
          d > 9000 ? '#4eb3d3' :
            d > 7000 ? '#7bccc4' :
              d > 5000 ? '#a8ddb5' :
                d > 3000 ? '#ccebc5' :
                  d > 1000 ? '#e0f3db' : '#f7fcf0';
    }

    // Housing cost data is from here
    // https://docs.google.com/spreadsheets/d/1_Z1578U8WDMsj37SwsKl_3SBvc_8EDiq/edit?usp=sharing&ouid=104549682188001295897&rtpof=true&sd=true
    //
    function gethCost(kab_kota) {
      let hCost = 0;

      if (kab_kota == 0) {
        hCost = "<i>no data</i>"
      }
      else if (kab_kota == "JAKARTA BARAT") {
        hCost = 728109.74;
      }
      else if (kab_kota == "JAKARTA TIMUR") {
        hCost = 757004.63;
      }
      else if (kab_kota == "JAKARTA UTARA") {
        hCost = 767450.40;
      }
      else if (kab_kota == "JAKARTA SELATAN") {
        hCost = 797014.78;
      }
      else if (kab_kota == "JAKARTA PUSAT") {
        hCost = 1237300.61;
      }

      return hCost;

    }

    function style(feature) {
      return {
        weight: 1,
        opacity: 1,
        //color: 'white',
        color: '#666',  /* #666 - dark grey */
        dashArray: '3',
        fillOpacity: 0.7,
        fillColor: getColor(feature.properties["T transit"])
      };
    }

    function highlightHomeLocation() {

      startLayer.setStyle({
        weight: 4,
        color: 'red',
        dashArray: '',
        fillOpacity: 0.7
      });

      startLayer.bringToFront();
    }

    function highlightFeature(e) {
      const layer = e.target;

      restorefillColor = e.target.options.fillColor;
      // console.log("highLight: ", e.target.options.fillColor)

      info.update(layer.feature.properties);

      if (layer === startLayer) return;

      layer.setStyle({
          weight: 5,
          color: 'blue',
          dashArray: '',
          fillOpacity: 0
      });

      layer.bringToFront();
    }

    /* global jutaraData */
    const geojson_ju = L.geoJson(jutaraData, {
      style,
      onEachFeature
    }).addTo(map);

    /* global jtimurData */
    const geojson_jt = L.geoJson(jtimurData, {
      style,
      onEachFeature
    }).addTo(map);

    /* global jbaratData */
    const geojson_jb = L.geoJson(jbaratData, {
      style,
      onEachFeature
    }).addTo(map);

    /* global jselatanData */
    const geojson_js = L.geoJson(jselatanData, {
      style,
      onEachFeature
    }).addTo(map);

    /* global jpusatData */
    const geojson_jp = L.geoJson(jpusatData, {
      style,
      onEachFeature
    }).addTo(map);


    function restoreFillColor(feature) {
      return { fillColor: restorefillColor }
    };

    function resetHighlight(e) {

      // console.log("resetLight 1: ", e.target.options.fillColor)
      if (e.target.feature.properties.OBJECTID == startCoords) {
        // do nothing
      } else {
        e.target.setStyle({
          weight: 1,
          opacity: 1,
          color: '#666',  /* #666 - dark grey */
          dashArray: '3',
          fillOpacity: 0.7,
        });
        //geojson_jp.setStyle(restoreFillColor);
        //geojson_js.setStyle(restoreFillColor);

      }
      // console.log("resetLight 2: ", e.target.options.fillColor)

      info.update();
    }

    function zoomToFeature(e) {
      map.fitBounds(e.target.getBounds());
    }

    function recordHomeWorkLocations(e) {
      const coordinates = e.latlng.lat + ',' + e.latlng.lng;

      // clear previous highlight
      geojson_jp.resetStyle(startLayer);
      geojson_js.resetStyle(startLayer);
      geojson_jb.resetStyle(startLayer);
      geojson_jt.resetStyle(startLayer);
      geojson_ju.resetStyle(startLayer);

      startCoords = 0;

      startCoords = e.target.feature.properties.OBJECTID;
      startLayer = e.target;
      home_loc = e.target.feature.properties.WADMKD;
      home_loc_hCost = gethCost(e.target.feature.properties.WADMKK);
      //console.log("recordHome :", e.target.feature.properties.from_origin)

      directions.innerHTML = `Your home location</br>
          <b>${e.target.feature.properties.WADMKK}</b></br>
          <b>${e.target.feature.properties.WADMKC}</b></br>
          ${e.target.feature.properties.WADMKD} RW ${e.target.feature.properties.WADMRW}</br></br>
          <b>Est. H cost:</b></br>
          Housing: IDR ${home_loc_hCost} per month</br>
          <b>Est. T accessiblity score: </b><i>no data</i></b></br>`;

      if (startCoords) {
        updateLayerColor();
        highlightHomeLocation();
      }
    }


    function onEachFeature(feature, layer) {
      layer.on({
        mouseover: highlightFeature,
        mouseout: resetHighlight,
        /*click: zoomToFeature */
        click: recordHomeWorkLocations
      });
    }


    // scale control
    L.control.scale({position: 'bottomleft', imperial: false}).addTo(map);


    const legend = L.control({ position: 'bottomleft' });

    legend.onAdd = function (map) {

      const div = L.DomUtil.create('div', 'info legend');
      const grades = [0, 1000, 3000, 5000, 7000, 9000, 11000, 13000];
      const labels = [];
      let from, to;


      for (let i = 0; i < grades.length; i++) {
        from = grades[i];
        to = grades[i + 1];

        labels.push(`<i style="background:${getColor(from + 1)}"></i>IDR ${from}${to ? `&ndash;${to}` : '+'}`);
      }

      div.innerHTML = "<b>Transit cost</b><br/></br>" + labels.join('<br>');
      return div;
    };

    legend.addTo(map);


    // element routes control
    // geojson layer
    // geojson BRT
    const layerBRTGeoJSON = L.geoJson(jalurBusRail, {
      style: function (feature) {
        return {
          weight: 2,
          opacity: 1,
          color: '#003399',
        }
      },
      filter: (feature)=>{
        return "BRT".toLowerCase() === feature.properties.type.toLowerCase();
      }
    });

    // geojson microtrans
    const layerMicrotransGeoJSON = L.geoJson(jalurBusRail, {
      style: function (feature) {
        return {
          weight: 2,
          opacity: 1,
          color: '#ff0000',
        }
      },
      filter: (feature)=>{
        return "Mikrotrans".toLowerCase() === feature.properties.type.toLowerCase();
      }
    });

    // geojson other bus
    const layerOtherBusRoutesGeoJSON = L.geoJson(jalurBusRail, {
      style: function (feature) {
        return {
          weight: 2,
          opacity: 1,
          color: '#9900cc',
        }
      },
      filter: (feature)=>{
        return ["transjabodetabek", "royaltrans", "non-BRT", "others"].find(x => x.toLowerCase() === feature.properties.type.toLowerCase());
      }
    });

    // geojson KCI
    const layerKCIGeoJSON2 = L.geoJson(jalurBusRail, {
      style: function (feature) {
        return {
          weight: 5,
          opacity: 1,
          color: '#333333',
        }
      },
      filter: (feature)=>{
        return "KRL".toLowerCase() === feature.properties.type.toLowerCase();
      }
    });
    const layerKCIGeoJSON = L.geoJson(jalurBusRail, {
      style: function (feature) {
        return {
          weight: 2,
          opacity: 1,
          color: '#fff',
          dashArray: "6 6"
        }
      },
      filter: (feature)=>{
        return "KRL".toLowerCase() === feature.properties.type.toLowerCase();
      }
    });

    // geojson MRT
    const layerMRTGeoJSON2 = L.geoJson(jalurBusRail, {
      style: function (feature) {
        return {
          weight: 5,
          opacity: 1,
          color: '#003399',
        }
      },
      filter: (feature)=>{
        return "MRT".toLowerCase() === feature.properties.type.toLowerCase();
      }
    });
    const layerMRTGeoJSON = L.geoJson(jalurBusRail, {
      style: function (feature) {
        return {
          weight: 2,
          opacity: 1,
          color: '#fff',
          dashArray: "6 6"
        }
      },
      filter: (feature)=>{
        return "MRT".toLowerCase() === feature.properties.type.toLowerCase();
      }
    });

    // geojson LRT plan
    const layerLRTGeoJSONPlan2 = L.geoJson(jalurBusRail, {
      style: function (feature) {
        return {
          weight: 5,
          opacity: 1,
          color: '#cc3300',
          dashArray: "6 6"
        }
      },
      filter: (feature)=>{
        return "LRT (plan)".toLowerCase() === feature.properties.type.toLowerCase();
      }
    });
    const layerLRTGeoJSONPlan = L.geoJson(jalurBusRail, {
      style: function (feature) {
        return {
          weight: 2,
          opacity: 1,
          color: '#fff',
          dashArray: "6 6"
        }
      },
      filter: (feature)=>{
        return "LRT (plan)".toLowerCase() === feature.properties.type.toLowerCase();
      }
    });

    // geojson LRT
    const layerLRTGeoJSON2 = L.geoJson(jalurBusRail, {
      style: function (feature) {
        return {
          weight: 5,
          opacity: 1,
          color: '#cc3300',
        }
      },
      filter: (feature)=>{
        return "LRT".toLowerCase() === feature.properties.type.toLowerCase();
      }
    });
    const layerLRTGeoJSON = L.geoJson(jalurBusRail, {
      style: function (feature) {
        return {
          weight: 2,
          opacity: 1,
          color: '#fff',
          dashArray: "6 6"
        }
      },
      filter: (feature)=>{
        return "LRT".toLowerCase() === feature.properties.type.toLowerCase();
      }
    });
    
    let checked = [];
    
    // geojson stops
    const layerAllStopsJakartaGeoJSON = L.geoJson(allStopsJakarta, {
      style: function (feature) {
        return {
          weight: 2,
          opacity: 1,
          color: '#009EFF',
        }
      },
      pointToLayer: function (feature, latlng) {
        var circleMarker = L.circleMarker(latlng, {
          radius: 3,
          fillColor: '#009EFF',
          color: "#009EFF",
          weight: 1,
          opacity: 1,
          fillOpacity: 1
        });
        return(circleMarker);
      },
      filter: function (feature) {
        const checkboxChecked = checked.find(e => e.name.toLowerCase() === feature.properties.station.toLowerCase());
        return checkboxChecked;
      }
    });

    const layerKCIGroup = L.layerGroup([layerKCIGeoJSON2, layerKCIGeoJSON]);
    const layerMRTGroup = L.layerGroup([layerMRTGeoJSON2, layerMRTGeoJSON]);
    const layerLRTGroup = L.layerGroup([layerLRTGeoJSON2, layerLRTGeoJSON, layerLRTGeoJSONPlan2, layerLRTGeoJSONPlan]);

    const overlay = [
      { 
        groupName : "Choose transit",
        expanded : true,
        layers    : {
          "<span style=display:inline-block;width:20px;height:10px;background-color:#003399;margin-left:3px;margin-right:3px;></span>BRT" :  layerBRTGeoJSON,
          "<span style=display:inline-block;width:20px;height:10px;background-color:#ff0000;margin-left:3px;margin-right:3px;></span>Microtrans" :  layerMicrotransGeoJSON,
          "<span style=display:inline-block;width:20px;height:10px;background-color:#9900cc;margin-left:3px;margin-right:3px;></span>Other bus routes" :  layerOtherBusRoutesGeoJSON,
          "<span style=display:inline-block;width:20px;height:10px;border-left-style:solid;border-left-color:#333333;border-left-width:6px;border-right-style:solid;border-right-color:#333333;border-right-width:6px;margin-left:3px;box-sizing:border-box;margin-right:3px;></span>KCI" :  layerKCIGroup,
          "<span style=display:inline-block;width:20px;height:10px;border-left-style:solid;border-left-color:#003399;border-left-width:6px;border-right-style:solid;border-right-color:#003399;border-right-width:6px;margin-left:3px;box-sizing:border-box;margin-left:3px;margin-right:3px;></span>MRT" :  layerMRTGroup,
          "<span style=display:inline-block;width:20px;height:10px;border-left-style:solid;border-left-color:#cc3300;border-left-width:6px;border-right-style:solid;border-right-color:#cc3300;border-right-width:6px;margin-left:3px;box-sizing:border-box;margin-left:3px;margin-right:3px;></span>LRT" :  layerLRTGroup,
          "Show stops" :  layerAllStopsJakartaGeoJSON,
        }
      },						
    ];
    
    const optionsStyledLayerControl = {
      position: 'topleft',
      container_width: "180px",
      container_maxHeight: "350px", 
      exclusive: false,
      collapsed: false
    };

    var routesControl = L.Control.styledLayerControl({}, overlay, optionsStyledLayerControl);
    routesControl.addTo(map)

    const checkboxElements = document.querySelectorAll(".menu-item-checkbox");

    // default show stops checkbox is disabled
    checkboxElements[checkboxElements.length - 1].children[0].disabled = true;

    checkboxElements.forEach((checkboxElement)=>{
      // get the name of checked checkbox
      checkboxElement.addEventListener("click", (e)=>{
        const name = e.currentTarget.children[1].innerText;
        const isChecked = e.currentTarget.children[0].checked;
        isChecked ? checked.push({name, isChecked}) : checked = checked.filter(fElement => fElement.name !== name);
        layerAllStopsJakartaGeoJSON.clearLayers();
        layerAllStopsJakartaGeoJSON.addData(allStopsJakarta)

        // turn the show stops checkbox enabled when there is route checkbox checked
        if (checked.length > 0) {
          checkboxElements[checkboxElements.length - 1].children[0].disabled = false;
          checkboxElements[checkboxElements.length - 1].style.color = "black";
          return
        } else {
          checkboxElements[checkboxElements.length - 1].children[0].disabled = true;
          checkboxElements[checkboxElements.length - 1].style.color = "#989898";
          return
        }
      });
    });

  </script>

</body>

</html>
