<!DOCTYPE html>
<html lang="en">
<head>
    <title>NK H+T - T transit</title>  
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">    -->
    <base target="_top">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
  
    <!-- <style>
        html, body {
          height: 100%;
          margin: 0;
        }
        .leaflet-container {
          height: 400px;
          width: 600px;
          max-width: 100%;
          max-height: 100%;
        }
    </style> -->
    <style>
        body {
          margin: 0;
          padding: 0;
        }
        #map {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 14px;
          color: #323232;
        }
        #directions {
          position: absolute;
          z-index: 1000;
          /*width: 25%;*/
          max-height: 50%;
          right: 10px;
          top: 20px;
          overflow-y: auto; /* Show a scrollbar if needed */
          background: rgba(255,255,255,0.8);
          box-shadow: 0 0 15px rgba(0,0,0,0.2);   
          border-radius: 5px;                 
          font-family: Arial, Helvetica, Verdana;
          line-height: 1.5;
          font-size: 14px;
          padding: 10px;
        }
        #transparentBox {
          position: absolute;
          z-index: 1000;
          /*width: 25%;*/
          max-height: 50%;
          left: 10px;
          top: 300px;
          overflow-y: auto; /* Show a scrollbar if needed */
          background: rgba(255,255,255,0.8);
          box-shadow: 0 0 15px rgba(0,0,0,0.2);   
          border-radius: 5px;                 
          font-family: Arial, Helvetica, Verdana;
          line-height: 1.5;
          font-size: 14px;
          padding: 15px;
        }
        .colorRoutes {
          height: 7px;
          width: 20px;
          margin-left: 10px;
        }
        /* checkbox custom */
        .openSpan {
          position: absolute;
          left: 0;
        }
        .closeSpan {
          position: absolute;
          left: 10;
        }
        .routesContainer {
          display: flex;
          align-items: center;
          position: relative;
          padding-left: 15px;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
        /* Hide the browser's default checkbox */
        .routesContainer input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }
        /* Create a custom checkbox */
        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 20px;
          width: 20px;
          background-color: transparent;
        }
        /* On mouse-over, add a grey background color */
        .routesContainer:hover input ~ .checkmark {
          background-color: rgba(1,1,1,0.1);
        }
        /* When the checkbox is checked, add a blue background */
        .routesContainer input:checked ~ .checkmark {
          background-color: transparent;
        }
        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }
        /* Show the checkmark when checked */
        .routesContainer input:checked ~ .checkmark:after {
          display: block;
        }
        /* Style the checkmark/indicator */
        .routesContainer .checkmark:after {
          left: 6px;
          top: 3px;
          width: 5px;
          height: 8px;
          border: solid black;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(35deg);
          -ms-transform: rotate(35deg);
          transform: rotate(35deg);
        }
        #routesShowStopsContainer {
          margin-top: 20px;
        }
        /* checkbox custom */
      </style>

    <style>
    /*#map { width: 800px; height: 500px; }*/
    .info { 
          /*width: 100%;*/
          padding: 6px 8px; 
          font: 14px/16px Arial, Helvetica, sans-serif; 
          line-height: 1.5; 
          background: rgba(255,255,255,0.8); 
          box-shadow: 0 0 15px rgba(0,0,0,0.2); 
          border-radius: 5px; 
          top: 120px;          
          } 
    /*.info h4 { margin: 0 0 5px; color: #777; }*/
    .legend { width: 100%; text-align: left; line-height: 18px; color: #555; top: 5px; }
    .legend i { 
          width: 18px; 
          height: 18px; 
          float: left; 
          margin-right: 8px; 
          opacity: 0.7; 
          }
    </style>
    
</head>
<body>
    <div id='map'></div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jakarta-pusat-rw.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jakarta-selatan-rw.js') }}"></script>
    
    <script type="text/javascript">
    
      const map = L.map('map').setView([-6.174012965235774, 106.83833091052753], 13); 
    
      const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      }).addTo(map);

      // text area on the upper right
      const directions = document.createElement("div");
      directions.id = "directions";
      directions.innerHTML = "Click on the map to set your home location";
      document.body.appendChild(directions);     
      
      // transparent checkbox routes box on the center left
      const transparentBox = document.createElement("div");
      transparentBox.id = "transparentBox";
      transparentBox.innerText = "Show routes";
      document.body.appendChild(transparentBox);
      
      function routesDOM() {
        const routes = [
          {label: "BRT", color: "purple"},
          {label: "Microtrans", color: "blue"},
          {label: "Other bus routes", color: ""},
          {label: "KCI", color: ""},
          {label: "MRT", color: ""},
          {label: "LRT", color: ""},
        ];
  
        routes.map((e, i)=>{
          // custom checkbox
          const routesContainer = document.createElement("div");
          routesContainer.className = "routesContainer";
          routesContainer.id = `routesContainer${i}`;
          transparentBox.appendChild(routesContainer);
          
          const openSpan = document.createElement("span");
          openSpan.className = "openSpan";
          openSpan.innerText = "[";
          routesContainer.appendChild(openSpan);
          
          const checkBox = document.createElement("input");
          checkBox.setAttribute("type", "checkbox");
          checkBox.className = `checkBoxRoute`;
          checkBox.id = `route${i}`;
          checkBox.name = `route${i}`;
          checkBox.value = `route${i}`;
          routesContainer.appendChild(checkBox);
          
          const checkmark = document.createElement("span");
          checkmark.className = "checkmark";
          routesContainer.appendChild(checkmark);

          const closeSpan = document.createElement("span");
          closeSpan.className = "closeSpan";
          closeSpan.innerText = "]";
          routesContainer.appendChild(closeSpan);
          
          const color = document.createElement("div");
          color.style.backgroundColor = e.color;
          color.className = "colorRoutes";
          routesContainer.appendChild(color);

          const route = document.createElement("label");
          route.setAttribute("for", `route${i}`);
          route.className = `routesContainer`;
          route.innerText = e.label;
          routesContainer.appendChild(route);
        });

        // custom checkbox
        const routesContainer = document.createElement("div");
        routesContainer.className = "routesContainer";
        routesContainer.id = `routesShowStopsContainer`;
        transparentBox.appendChild(routesContainer);
        
        const openSpan = document.createElement("span");
        openSpan.className = "openSpan";
        openSpan.innerText = "[";
        routesContainer.appendChild(openSpan);
        
        const checkBox = document.createElement("input");
        checkBox.setAttribute("type", "checkbox");
        checkBox.className = `checkBoxRoute`;
        checkBox.id = `ShowStopsroute`;
        checkBox.name = `ShowStopsroute`;
        checkBox.value = `route`;
        routesContainer.appendChild(checkBox);
        
        const checkmark = document.createElement("span");
        checkmark.className = "checkmark";
        routesContainer.appendChild(checkmark);

        const closeSpan = document.createElement("span");
        closeSpan.className = "closeSpan";
        closeSpan.innerText = "]";
        routesContainer.appendChild(closeSpan);
        
        const route = document.createElement("label");
        route.setAttribute("for", `ShowStopsroute`);
        route.className = `routesContainer`;
        route.innerText = "Show stops";
        routesContainer.appendChild(route);
      }

      routesDOM();

      let startCoords = 0;
      let startLayer;
      let home_loc = "";
      let restorefillColor;

      function updateTextArea() {
        
        // update style
        geojson_jp.eachLayer(function (layer) {
          layer.setStyle({fillColor: getColor2(layer.feature.properties.from_origin)})
        });
        geojson_js.eachLayer(function (layer) {
          layer.setStyle({fillColor: getColor2(layer.feature.properties.from_origin)})
        });

      } 

      // control that shows state info on hover
      const info = L.control();
    
      info.onAdd = function (map) {
        this._div = L.DomUtil.create('div', 'info');
        this.update();
        return this._div;
      };
    
      info.update = function (props) {

        try {
          const contents = props ? 
          `Location of interest<br/>
          <b>${props.WADMKK}</b><br/>        
          <b>${props.WADMKC}</b>
          <br/>${props.WADMKD} RW ${props.WADMRW}<br/><br/>
          <b>Transport:</b><br> 
          T transit cost: IDR ${props.from_origin[home_loc]["T transit"]}<br/>
          T driving cost: IDR ${props.from_origin[home_loc]["T driving"]}<br/>
          T ridehail cost: IDR ${props.from_origin[home_loc]["T ridehail"]}<br/><br/>
          <b>CO2e emission:</b><br> 
          Transit: ${props.from_origin[home_loc]["CO2e transit"]}g<br/>
          Driving: ${Math.round(props.from_origin[home_loc]["CO2e driving"]*100)/100}g<br/>
          ` : '';
          this._div.innerHTML = `${contents}`;
        }
        catch(err) {
          const contents = props ? 
          `Location of interest<br/>
          <b>${props.WADMKK}</b><br/>        
          <b>${props.WADMKC}</b>
          <br/>${props.WADMKD} RW ${props.WADMRW}<br/><br/>
          <b>Transport:</b> <i>no data</i><br> 
          <b>CO2e emission:</b> <i>no data</i><br> 
          ` : '';
          this._div.innerHTML = `${contents}`;
        }
      };
    
      info.addTo(map);
    
      // get color depending on 'T transit' value
      function getColor(d) {
        return d > 13000 ? '#08589e' :
          d > 11000  ? '#2b8cbe' :
          d > 9000  ? '#4eb3d3' :
          d > 7000  ? '#7bccc4' :
          d > 5000   ? '#a8ddb5' :
          d > 3000   ? '#ccebc5' :
          d > 1000   ? '#e0f3db' : '#f7fcf0';
      }
      
      function style(feature) {
        return {
          weight: 2,
          opacity: 1,
          color: 'white',
          dashArray: '3',
          fillOpacity: 0.7,
          fillColor: getColor(feature.properties["T transit"])
        };
      }
    
      // get color depending on 'T driving' value
      function getColor2(d1) {
        //console.log("getColor2 d1: " , d1);
       
        if ( d1.hasOwnProperty(home_loc) ) {
          d = d1[home_loc]["T transit"];
          //console.log("getColor2  d: " + home_loc + ", " + d);

          return d > 13000 ? '#08589e' :
          d > 11000  ? '#2b8cbe' :
          d > 9000  ? '#4eb3d3' :
          d > 7000  ? '#7bccc4' :
          d > 5000   ? '#a8ddb5' :
          d > 3000   ? '#ccebc5' :
          d > 1000   ? '#e0f3db' : '#f7fcf0';
        }
        else {
          return '#f7fcf0';
        }
      }    

      function style2(feature) {
        return {
          weight: 2,
          opacity: 1,
          color: 'white',
          dashArray: '3',
          fillOpacity: 0.7,
          //fillColor: getColor(feature.properties["T transit"])
          //fillColor: getColor2(feature.properties["from_origin"]["KEBAYORAN LAMA UTARA"]["T driving"])
          //fillColor: getColor2(feature.properties["from_origin"]["KEBAYORAN LAMA UTARA"]["T driving"]) 
          fillColor: getColor2(feature.properties.from_origin) 
          //fillColor: getColor2(feature.properties) 
        };
      }

      function highlightFeature(e) {
        const layer = e.target;
    
        layer.setStyle({
          weight: 5,
          color: '#666',
          dashArray: '',
          fillOpacity: 0.7
        });
    
        layer.bringToFront();
    
        info.update(layer.feature.properties);
      }
    
      /* global jselatanData */
      const geojson_js = L.geoJson(jselatanData, {
        style,
        onEachFeature
      }).addTo(map);
    
      /* global jpusatData */
      const geojson_jp = L.geoJson(jpusatData, {
        style,
        onEachFeature
      }).addTo(map);

      function resetHighlight(e) {

        if (e.target.feature.properties.OBJECTID == startCoords) {
          // do nothing
        } else {
          geojson_jp.resetStyle(e.target);
          geojson_js.resetStyle(e.target);          
        }
          
        info.update();
      } 
    
      function zoomToFeature(e) {
        map.fitBounds(e.target.getBounds());
      }

      function recordHomeWorkLocations(e) {
        const coordinates = e.latlng.lat + ',' + e.latlng.lng;

        // clear previous highlight
        geojson_jp.resetStyle(startLayer);
        geojson_js.resetStyle(startLayer);
        startCoords = 0;

        startCoords = e.target.feature.properties.OBJECTID;
        startLayer = e.target;
        home_loc = e.target.feature.properties.WADMKD;
        
        directions.innerHTML = `Your home location</br>
          <b>${e.target.feature.properties.WADMKK}</b></br>        
          <b>${e.target.feature.properties.WADMKC}</b></br>
          ${e.target.feature.properties.WADMKD} RW ${e.target.feature.properties.WADMRW}`;

        if (startCoords) {
          updateTextArea();
        }
      } 

      function onEachFeature(feature, layer) {
        layer.on({
          mouseover: highlightFeature,
          mouseout: resetHighlight,
          /*click: zoomToFeature */
          click: recordHomeWorkLocations
        });
      }
    
     
      const legend = L.control({position: 'bottomright'});
    
      legend.onAdd = function (map) {
    
        const div = L.DomUtil.create('div', 'info legend');
        const grades = [0, 1000, 3000, 5000, 7000, 9000, 11000, 13000];
        const labels = [];
        let from, to;
    

        for (let i = 0; i < grades.length; i++) {
          from = grades[i];
          to = grades[i + 1];
    
          labels.push(`<i style="background:${getColor(from + 1)}"></i>IDR ${from}${to ? `&ndash;${to}` : '+'}`);
        }
    
        div.innerHTML = "<b>Transit cost</b><br/></br>" + labels.join('<br>');
        return div;
      };
    
      legend.addTo(map);
    
    </script>

</body>
</html>




