<!DOCTYPE html>
<html lang="en">
<head>
    <title>NK H+T - H cost</title>  
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">    -->
    <base target="_top">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
  
    <!-- <style>
        html, body {
          height: 100%;
          margin: 0;
        }
        .leaflet-container {
          height: 400px;
          width: 600px;
          max-width: 100%;
          max-height: 100%;
        }
    </style> -->
    <style>
        body {
          margin: 0;
          padding: 0;
        }
        #map {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 14px;
          color: #323232;
        }
        #directions {
          position: absolute;
          z-index: 1000;
          width: 20%;
          max-height: 50%;
          right: 10px;
          top: 70px;
          overflow-y: auto; /* Show a scrollbar if needed */
          background: white;
          background: rgba(255,255,255,0.8); 
          font-family: Arial, Helvetica, Verdana;
          line-height: 1.5;
          font-size: 14px;
          padding: 10px;
        }
      </style>

    <style>
    /*#map { width: 800px; height: 500px; }*/
    .info { 
          width: 100%;
          padding: 6px 8px; 
          font: 14px/16px Arial, Helvetica, sans-serif; 
          background: white; 
          background: rgba(255,255,255,0.8); 
          box-shadow: 0 0 15px rgba(0,0,0,0.2); 
          border-radius: 5px; 
          } 
    .info h4 { margin: 0 0 5px; color: #777; }
    .legend { text-align: left; line-height: 18px; color: #555; }
    .legend i { 
          width: 18px; 
          height: 18px; 
          float: left; 
          margin-right: 8px; 
          opacity: 0.7; 
          }
    </style>
    
</head>
<body>
    <div id='map'></div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jakarta-pusat-rw.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jakarta-selatan-rw.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jakarta-barat-rw.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jakarta-timur-rw.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jakarta-utara-rw.js') }}"></script>

    <script type="text/javascript">
    
      const map = L.map('map').setView([-6.174012965235774, 106.83833091052753], 13); 
    
      const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      }).addTo(map);

      // text area on the upper right
      /*const directions = document.createElement("div");
      directions.id = "directions";
      directions.innerHTML = "Click on the map to create a start and end for your home and work locations.";
      document.body.appendChild(directions);     

      let currentStep = "start";
      let startCoords = 0;
      let endCoords = 0;
      let startLayer;
      let endLayer;      
      let displayDirty = false;

      function updateTextArea() {
        console.log("updateText " + startCoords + ", " + endCoords)

      } */

      // control that shows state info on hover
      const info = L.control();
    
      info.onAdd = function (map) {
        this._div = L.DomUtil.create('div', 'info');
        this.update();
        return this._div;
      };
    
      info.update = function (props) {

        //const hPrice = props.H ? props.H : 'No data';
        //print(props.WADMKK)

        const contents = props ? 
        `<b>${props.WADMKK}</b><br/><br/>
        <b>${props.WADMKC}</b><br/>
        ${props.WADMKD} RW ${props.WADMRW}<br/><br/>
        <b>Housing cost (million per m<sup>2</sup>)</b><br> 
        IDR ${props.H}<br/>
        ` : 'Hover over the area';
        this._div.innerHTML = `${contents}`;
      };
    
      info.addTo(map);


      // get color depending on 'H' value
      function getColor(d) {
        return d > 70 ? '#6e016b' :
          d > 60  ? '#88419d' :
          d > 50  ? '#8c6bb1' :
          d > 40  ? '#8c96c6' :
          d > 30   ? '#9ebcda' :
          d > 20   ? '#bfd3e6' :
          d > 10   ? '#e0ecf4' : '#f7fcfd';
      }
      
      function style(feature) {
        return {
          weight: 2,
          opacity: 1,
          color: 'white',
          dashArray: '3',
          fillOpacity: 0.7,
          fillColor: getColor(feature.properties["H"])
        };
      }
    
      function highlightFeature(e) {
        const layer = e.target;
    
        layer.setStyle({
          weight: 5,
          color: '#666',
          dashArray: '',
          fillOpacity: 0.7
        });
    
        layer.bringToFront();
    
        info.update(layer.feature.properties);
      }

      /* global jutaraData */
      const geojson_ju = L.geoJson(jutaraData, {
        style,
        onEachFeature
      }).addTo(map); 

      /* global jtimurData */
      const geojson_jt = L.geoJson(jtimurData, {
        style,
        onEachFeature
      }).addTo(map); 
            
      /* global jbaratData */
      const geojson_jb = L.geoJson(jbaratData, {
        style,
        onEachFeature
      }).addTo(map);      
           
      /* global jselatanData */
      const geojson_js = L.geoJson(jselatanData, {
        style,
        onEachFeature
      }).addTo(map);
    
      /* global jpusatData */
      const geojson = L.geoJson(jpusatData, {
        style,
        onEachFeature
      }).addTo(map);

      function resetHighlight(e) {

        /*if (e.target.feature.properties.OBJECTID == startCoords
          || e.target.feature.properties.OBJECTID == endCoords){
          // do nothing
        } else {*/
          geojson.resetStyle(e.target);
        //}
          
        info.update();
      } 
    
      function zoomToFeature(e) {
        map.fitBounds(e.target.getBounds());
      }

      /*function recordHomeWorkLocations(e) {

        if (currentStep === "start") {

          if (displayDirty === true) {
            // clear previous 2 highlights
            geojson.resetStyle(startLayer);
            geojson.resetStyle(endLayer);
            startCoords = endCoords = 0;

            displayDirty = false;
          }

          startCoords = e.target.feature.properties.OBJECTID;
          startLayer = e.target;

          directions.innerHTML = "start " + startCoords;

          currentStep = "end";
        } else {

          endCoords = e.target.feature.properties.OBJECTID;
          endLayer = e.target;

          directions.innerHTML += " -> end " + endCoords;

          currentStep = "start";
          displayDirty = true;
        }

        if (startCoords && endCoords) {
          updateTextArea();
        }
      }      */

      function onEachFeature(feature, layer) {
        layer.on({
          mouseover: highlightFeature,
          mouseout: resetHighlight,
          /*click: zoomToFeature */
          /*click: recordHomeWorkLocations*/
        });
      }
    
     
      const legend = L.control({position: 'bottomright'});
    
      legend.onAdd = function (map) {
    
        const div = L.DomUtil.create('div', 'info legend');
        const grades = [0, 10, 20, 30, 40, 50, 60, 70];
        const labels = [];
        let from, to;
    

        for (let i = 0; i < grades.length; i++) {
          from = grades[i];
          to = grades[i + 1];
    
          labels.push(`<i style="background:${getColor(from + 1)}"></i>IDR ${from}${to ? `&ndash;${to}` : '+'}`);
        }
    
        div.innerHTML = "<b>Housing cost (million per m<sup>2</sup>)</b><br/></br>" + labels.join('<br>');
        return div;
      };
    
      legend.addTo(map);
    
    </script>

</body>
</html>




